.fancy_card {
    box-shadow: 8px 14px 38px rgba(20, 136, 204, 0.06), 1px 3px 8px rgba(20, 136, 204, 0.03),
    1px 3px 8px rgba(20, 136, 204, 0.03), 1px 3px 8px rgba(20, 136, 204, 0.03);
    overflow: hidden;
    /*border: 1px solid #1488CC;*/
    border-radius: 10px;
    transition: all .3s ease;
}

.fancy_card:hover {
    box-shadow: 8px 28px 50px rgba(20, 136, 204, 0.07),
    1px 6px 12px rgba(11, 16, 152, 0.04),
    1px 6px 12px rgba(11, 16, 152, 0.04),
    1px 6px 12px rgba(11, 16, 152, 0.04);
    transform: translate3d(0, -5px, 0);
    cursor: pointer;
}