.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 30px;
    justify-content: center;
}

/*.post {*/
/*    -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);*/
/*    -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);*/
/*    box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);*/
/*}*/

.thumbnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: revert;
}

.post-preview {
    background-color: #fff;
    padding: 15px;
}

.post-title {
    color: black;
    margin: 0;
}

.post-intro {
    color: #4b5156;
    font-size: 14px;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}