.wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    margin: 20px 0 0 0
}

.wrapper .item {
    visibility: hidden;
    display: none;
}

.wrapper h2 {
    font-size: 50px;
    margin: 0;
    color: #3a3a3a;
    text-align: left;
}

.wrapper > div {
    min-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    color: #FF7F50;
}

.wrapper > div:after {
    content: "";
    width: 10px;
    height: 4px;
    display: block;
    background: black;
    color: #FF7F50;
    margin-bottom: 4px;
    margin-left: 2px;
    animation-duration: 350ms;
    animation-name: fade;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
